.app__aboutus{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
   
}

.app_aboutus-overlay{
    position: absolute;
    inset: 0;
}

.app_aboutus-overlay img{
    width: 391px;
    height: 415px;
    z-index: 0;
}

.app-aboutus-content{
    width: 100%;
    z-index: 2;
}



.app__aboutus-content_aboutus{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.app-aboutus-content-knife {
        margin: 2rem 9rem;

}
.app-aboutus-content-knife  img{
    height: 1010px;
}
.app__aboutus-content_history{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.app__aboutus-content_history p,
.app__aboutus-content_aboutus p{
    margin: 2rem 0;
    color: var(--color-gray);
}

@media screen and (max-width:2000px) {
    .app-aboutus-content-knife  img{
        height: 710px;
    }
    .app__aboutus-content_history p,
    .app__aboutus-content_aboutus p{
        margin: 4rem 0;
    }
}
@media screen and (max-width:900px) {
    .app-aboutus-content{
        flex-direction: column;
    }
    }
@media screen and (max-width:650px) {
    .app_aboutus-overlay img{
        width: 80%;
        height: 320px;
    }
    .app-aboutus-content-knife{
        margin: 4rem 0;
    }
}










